{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="overlay"></div>
    <div class="container container-cart">
        <div class="row row-cart">
            <div class="col col-cart">
                <h2>Shopping Cart</h2>
            </div>  
        </div>
        <div class="row">
            <div class="col">
                {% if cart_items %}
                    {% for item in cart_items %}
                        <div class="row">
                            <div class="col cart-img mb-4">
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                            </div>
                            <div class="col cart-name">
                                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                            </div>
                            <div class="col cart-price">
                                <p class="my-0"><strong>£</strong> {{ item.product.price }}</p>
                            </div>
                            <div class="col cart-qty">
                                <p class="my-0"><strong>Qty:</strong> {{ item.quantity }}</p>
                                <p class="my-0"><strong>Size:</strong> {% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                                <p class="my-0"><strong>Number:</strong> {% if item.product.has_numbers %}{{ item.numbers|upper }}{% else %}N/A{% endif %}</p>
                            </div>
                            <div class="col cart-sub">
                                <p class="my-0"><strong>£</strong> {{ item.product.price }}</p>
                            </div>
                        </div>
                    {% endfor %}
                        <div class="row row-end-cart mt-4">
                            <div class="col-12 col-md-8 cart-btns">
                                <a href="{% url 'products' %}" class="btn gear-button rounded text-uppercase">&#10096;  Keep shopping</a>
                                <a href="" class="btn gear-button rounded text-uppercase">Checkout</a>
                            </div>
                            <div class="col-6 col-md-4 cart-tot mt-4">
                                <h6><strong>Items Total: £{{ total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>Total: £{{ sum_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                    <p class="mb-1 text-danger">
                                        Free delivery if you spend <strong>${{ free_delivery_delta }}</strong> more!
                                    </p>
                                {% endif %}
                            </div>
                        </div>  
                {% else %}
                    <p>Cart is empty</p>   
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}