{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="overlay"></div>
    <div class="container container-cart">
        <div class="row row-cart">
            <div class="col col-cart">
                <hr>
                <h2 class="text-center mb-3 ">Wishlist</h2>
            </div> 
            <div>
                
                
            </div>
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<!--Code taken from Boutique Ado-->
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
        console.log(form)
    })
    
    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var number = $(this).data('product_number');
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size, 'product_number': number};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
   
    })
</script>
{% endblock %}