{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="overlay"></div>
    <div class="container container-cart">
        <div class="row row-cart">
            <div class="col col-cart">
                <hr>
                <h2 class="text-center mb-3 ">Wishlist</h2>
            </div> 
        </div>
        <div class="row">

            <!--Displaying products in wishlist-->
            {% for wishitem in wishlist %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 col-wishlist">
                    <div class="shadow rounded card h-100">
                        
                        {% if wishitem.products.image %}  
                            <img class="card-img-top img-fluid" src="{{ wishitem.products.image.url }}" alt="{{ wishitem.products.name }}">
                        {% else %}
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ wishitem.products.name }}">
                        {% endif %}

                        <div class="card-body pb-0 pt-0">
                            <p >{{ wishitem.products.name }}</p>
                        </div>
                        <div class="card-footer bg-white border-0 text-left pt-0">
                            <div class="row">
                                <div class="col">
                                    <p class=" text-left price-tag mb-0">£{{ wishitem.products.price }}</p>
                                    {% if wishitem.products.rating %}
                                        <small><i class="fas fa-star mr-1"></i>{{ wishitem.products.rating }} / 5</small>
                                    {% else %}
                                        <small>No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div>
                        <a href="" class="btn gear-button rounded text-uppercase mt-3">
                            <span class="text-uppercase">Add to cart
                            </span>
                        </a>
                        <a href="">Remove from wishlist</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col btn-wishlist">
                <a href="{% url 'products' %}" class="btn gear-button rounded text-uppercase">
                    <span class="text-uppercase"> <i class="fas fa-chevron-left"></i>  Keep shopping</span>
                </a>
            </div>
        </div>
        
    </div>
    
{% endblock %}
