{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="overlay"></div>
    <div class="container container-checkout">
        <div class="row ">
            <div class="col col-checkout">
                <hr>
                <h2 class="text-center mb-3 ">My Profile</h2>
            </div>  
        </div>
{% endblock %}
