{% extends "base.html" %}
{% load static %}



{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="overlay"></div>
    <div class="container container-success">
        <div class="row ">
            <div class="col col-success">
                <hr>
                <h2 class="text-center mb-3 font-weight-bold">Thank you for your order!</h2>
                <p class="font-weight-bold"> Below your order details. Confirmation email sent to {{ order.email }}.</p>
            </div>  
        </div>

        <!--Code taken from Boutique Ado CI Tutorial-->
        <div class="row">
            <div class="col-12 col-lg-7">

            </div>

            
        </div>

        <div class="row row-success">
            <a href="{% url 'products' %}" class="btn gear-button rounded text-uppercase">
                <span class="text-uppercase"> <i class="fas fa-chevron-left"></i>  Keep shopping</span>
            </a>
        </div>
    </div>
{% endblock %}

