html {
    height: 100%;
}

body  {
    background: url('/media/main-page.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 214px);
    font-family: 'Oxygen', sans-serif;

}

/* Landing Page */

.header-home{
    background-color: #545659 !important;
    padding-top: 15px;
}

.mobile-header {
    background-color: #9c9c9c;
}

.slogan {
    margin-top: 50px;
}

.logo-link {
    color: #fafafa;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color:#92a396;
}

.header-container {
    padding-top: 164px;
}

#delivery-banner {
    padding: 5px 0;
}

.dropdown-menu {
    background-color : #fafafa;
}

.search-box {
    padding-top: 10px;
}

.icon-search {
    color: black !important;
}

.page-footer {
    background-color: #545659;
    min-height: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.contact {
    padding-top: 15px;
}

.text-black {
    color: #000 !important;
}

input[name='q']::placeholder {
    color: #92a396;
}
/* from Bulma*/

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #fafafa;
}

/* Products page */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    z-index: -1;
}

.banner-products {
    margin-top: 65px;
}

.price-tag {
    font-size: 20px;
    font-weight: bolder;
}

hr {
    height: 1px;
    background-color: #545659;  
}

.col-card {
    margin-bottom: 15px;
}

.row-products {
    margin-bottom: 50px;
}

.text-link-cat {
    color: #545659;
   text-decoration: underline;
}

/* Products detail page */

.col-detail {
    margin-top: 70px;
    margin-bottom: 40px;
}

.image-prod {
    max-height: 400px;
    max-width: 400px;
}

.row-form {
    margin-bottom: 50px;
}

.col-quantity {
    padding-left: 0;
}

.col-btns {
    margin-top: 100px;
}


.col-description {
    margin: 0 30px 50px ;
    
}



.update-link,
.remove-item {
    cursor: pointer;
}


/* Cart page */

.container-cart {
    margin-top: 70px;
}

.cart-tot {
    left: 100px;
}

.row-end-cart {
    margin-bottom: 70px;
}
.border {
    color: #545659 ;
}

/* Toasts  Code taken from Boutique ado*/
.message-container {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Code taken from Boutique ado */

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.message-delta {
    background-color: #92a396 ; 
}

/* Buttons */

.gear-button {
    background: #545659;
    color: #fafafa;
}

.btn-search {
    background: #9c9c9c;
}


/* Checkout page */

.checkout-btns {
    margin-bottom: 90px;
}

.col-checkout,
.col-manager {
    margin-top: 70px;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9c9c9c;
    z-index: 999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/*Code taken from boutique ado*/

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color:#9c9c9c !important;

}

/* Checkout success page */

.container-success {
    margin-top: 70px;  
}

.col-success {
    margin-bottom: 70px;
}

/* Profile page */

.col-profile {
    margin-bottom: 100px;
}

.order-history {
    max-height: 420px;
    overflow-y: auto;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #92a396;
}

#profile-update-form input::placeholder {
    color: #92a396;
}

/* Allauth templates*/

.allauth-col {
    margin-bottom: 100px;
}

.allauth-form-inner-content input {
    border: 1px solid #92a396;
    border-radius: 5px;
}
.allauth-form-inner-content input::placeholder {
    color: #92a396;
}
/* sign up page*/

.text-benefits { 
    line-height: 1.8;
}

/* add product page */

.form-manager {
    margin-bottom: 70px;
}

/* From boutique ado Stripe*/

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid #92a396;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #92a396;
}

/* edit/add product form admin 
 Code form Boutique Ado */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* media query*/

@media only screen and (min-width: 382px) and (max-width: 991px) {
    .container-cart {
        margin-top: 0;
    }

    .col-checkout {
    margin-top: 0;
    }
}


@media only screen and (max-width: 768px) {
    .col-detail {
        margin-bottom: 0;
    }

    .col-btns {
        margin-top: 0;
    }

    .cart-tot {
        left: 0;
    }

    .cart-qty {
        flex-basis: auto;
    }

}

@media only screen and (max-width: 425px) {
    .cart-sub {
        display: none;
    }

    .nav-link {
        padding: 0.1rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .5rem .5rem;
    }

    .banner-products,
    .col-manager,
    .col-detail,
    .container-success,
    .container-cart,
    .col-checkout,
    .col-success {
        margin-top: 0px;
    }

    .btn {
        margin-bottom: 4px;
    }

    .increment-qty, .decrement-qty {
        padding: .3rem .5rem !important;
    }
}


