{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="overlay"></div>
    <div class="container container-checkout">
        <div class="row ">
            <div class="col col-checkout">
                <hr>
                <h2 class="text-center mb-3 ">Contact Us</h2>
                <p class="text-center font-weight-bold"> Thank you for reaching our site. Please fill the form below to contact us.</p>
            </div>  
        </div>
        <div class="row">
            <div class="col col-contact">
                <form method="POST" action="{% url 'contact_us' %}" class="form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group">
                        <button class="btn gear-button rounded text-uppercase" type="submit">
                            Send
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}