<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown ">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 d-lg-none d-xl-none" href="{% url 'home' %}" id="equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
            
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="out-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Products
            </a>    
            <div class="dropdown-menu border-0" aria-labelledby="our-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">Price </a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">Ratings</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">Category</a>
                <a href="{% url 'products' %}" class="dropdown-item ">All Products</a>
                
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="equipment-link">
                <a href="{% url 'products' %}?category=ropes" class="dropdown-item">Ropes</a>
                <a href="{% url 'products' %}?category=helmets" class="dropdown-item ">Helmets</a>
                <a href="{% url 'products' %}?category=harnesses" class="dropdown-item ">Harnesses</a>
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=shoes" class="dropdown-item">Shoes</a>
                <a href="{% url 'products' %}?category=trousers" class="dropdown-item">Trousers</a>
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="camping-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Camping
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="camping-link">
                <a href="{% url 'products' %}?category=tent" class="dropdown-item">Tent</a>
                <a href="{% url 'products' %}?category=sleeping_bags" class="dropdown-item">Sleeping bags</a>
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="climbing-shoes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Climbing Shoes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="climbing-shoes-link">
                <a href="{% url 'products' %}?category=climbing_shoes_mens" class="dropdown-item">Mens</a>
                <a href="{% url 'products' %}?category=climbing_shoes_womens" class="dropdown-item">Womens</a>
                
            </div>
        </li>
        
    </ul>
</div>