<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-link font-weight-bold nav-link " href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Equipment-link">
                <a href="" class="dropdown-item">Ropes</a>
                <a href="" class="dropdown-item ">Helemts</a>
                <a href="" class="dropdown-item ">Harnesses</a>
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Shoes</a>
                <a href="" class="dropdown-item">Trousers</a>
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Camping-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Camping
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Camping-link">
                <a href="" class="dropdown-item">Tent</a>
                <a href="" class="dropdown-item">Sleeping bags</a>
                
            </div>
        </li>

        
    </ul>
</div>