{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<div class="col-12 text-center">
  <hr>
  <h2 class=" mb-3 ">{% trans "Sign Up" %}</h2>
  
</div>
<div class="col-12 ">
  <p class="font-weight-bold text-center title-benefits mb-0">Benefits of having an account with us:</p>
  <p class="font-weight-bold text-benefits text-left"> 
  <br>
   1- View your order history, a detailed list of each order you have placed.
  <br>
   2- Benefit from a faster checkout process using saved payment details.</p>
</div>




<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <a href="{% url 'account_login' %}" class="btn gear-button rounded text-uppercase">Back to login</a>
  <button class="btn gear-button rounded text-uppercase " type="submit">{% trans "Sign Up" %} &raquo;</button>
  <p class="mt-3">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
</form>


{% endblock %}
