{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}

    <!--ERROR 404-->
    <div class="overlay"></div>
    <div class="row row-error"> 
        <div class="col col-error">
            <hr>
            <h3 class="text-center">Error 404</h3>
            <h5 class="text-center">Sorry we couldn't find what you are looking for. 
                Click the button below to go back to the main page. 
            </h5>
            <a href="{% url 'products' %}" class="btn gear-button rounded text-uppercase">
                <span class="text-uppercase"> <i class="fas fa-chevron-left"></i>  Keep shopping</span>
            </a>
        </div>
    </div>  
{% endblock %}