{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}

    <!--ERROR 500-->
    <div class="overlay"></div>
    <div class="container container-cart">
        <div class="row row-error"> 
            <div class="col col-error">
                <hr>
                <h3 class="text-center">Error 500</h3>
                <h5 class="text-center">An unexpected error has occurred. 
                    Click the button below to go back to the main page.
                </h5>
                <a href="{% url 'products' %}" class="btn gear-button rounded text-uppercase mt-5">
                    <span class="text-uppercase"> <i class="fas fa-chevron-left"></i>  Keep shopping</span>
                </a>
            </div>
        </div>  
    </div>
{% endblock %}