{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="overlay"></div>
    <div class="container "> 
        <div class="row row-product-detail">
            <div class=" col-12 col-md-6 col-detail">

                <!--Display details of product-->
                <div class="image-prod ">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-btns">
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row-form">
                        <div class="col col-quantity">
                            <p><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn gear-button rounded"
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99"
                                    data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn gear-button rounded"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- Code taken from Boutique Ado
                                 checking if product has sizes-->
                            {% if product.has_sizes%}
                                {% with product.has_sizes as s %}
                                    {% if s %}
                                    <div class="col w-50 p-0 mb-4">
                                        <p><strong>Size:</strong></p>
                                        <select class="form-control" name="product_size" id='id_product_size'>
                                            <option value="xs">XS</option>
                                            <option value="s">S</option>
                                            <option value="m" selected>M</option>
                                            <option value="l">L</option>
                                            <option value="xl">XL</option>
                                        </select>
                                    </div>

                                    {% endif %}
                                {% endwith %}
                            {% endif %}

                            <!--checking if product has number for shoes-->
                            {% if product.has_numbers %}
                                {% with product.has_numbers as n %}
                                    {% if n %}
                                    <div class="col w-50 p-0 mb-4">
                                        <p><strong>Number:</strong></p>
                                        <select class="form-control" name="product_number" id='id_product_number'>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8" selected>8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                    {% endif %}
                                {% endwith %}
                            {% endif %}
                            
                        </div>
                        <div>
                            <a href="{% url 'products' %}" class="btn gear-button rounded text-uppercase">
                                <span class="text-uppercase"> <i class="fas fa-chevron-left"></i>  Keep shopping</span>
                            </a>
                            <input type="submit" class="btn gear-button rounded text-uppercase" value=" Add to Cart ">
                            
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>   
                </form>
            </div>
            
            <!--Add to wishlist button-->
            <form  class="form" action="{% url 'add_to_wishlist' product.id %}" method="POST"> 
                {% csrf_token %}       
                <div class="mt-3 ml-5"> 
                    <input type="hidden" name="quantity" value="0" id="quantity">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    <input type="submit" class="btn-small gear-button rounded text-uppercase" value=" Add to wishlist ">
                </div>
            </form>
            <div class="row row-description m-0 ">
                <div class="col col-description ">
                    <div class="mt-3 ">
                        
                        <!--Product category-->
                        {% if product.category %}
                        <div class="card-body pl-0 pb-0 ">
                            <a class="text-link-cat" href="{% url 'products'%}?category={{ product.category.name }}">
                                {{ product.category.friendly_name }}</a>
                        </div>
                        {% endif %}
                        <p class="mb-0">{{ product.name }}</p>
                        <p class="text-left font-weight-bold">£{{ product.price }}</p>
                        {% if product.rating %}
                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                        {% else %}
                            <small class="text-muted">No Rating</small>
                        {% endif %}
                        {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}"> Edit</a> /
                            <a href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                        {% endif %}
                        <p class="p-description">{{ product.description }}</p>     
                    </div>
                </div>

                <!--Reviews-->
                <div class="col-12 col-review">
                    <hr>
                    <h2 class="mb-5 mt-4 text-center">Product Reviews</h2>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'add_review' product.id %}" class="ml-3"> Add Review </a>
                    
                    {% endif%}

                    {% for review in product.reviews.all %}
                    <div class="card card-reviews mt-3">
                    <p class="mt-2 ml-3 mb-1"><strong >Customer:</strong> {{ review.profile.user.username|upper }}</p>
                        <div class="card-body mt-0">
                            <p>{{ review.review }}</p>
                        </div>
                        {% if review.profile.user == request.user %}
                            <div class="ml-3">
                                <a href="{% url 'edit_review' review.id product.id %}"> Edit</a> /
                                <a href="#" data-toggle="modal" data-target="#modal-delete">Delete</a>
                            </div>

                            <!--Modal to confirm deleting review-->
                            <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Confirm delete review</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this review?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn gear-button rounded text-uppercase">Cancel</button>
                                            <a class="btn gear-button rounded text-uppercase"
                                                href="{% url 'delete_review' review.id product.id %}">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}